{% capture contact_support %}
<a href="mailto:{{site.support_email}}?subject=Support">Support</a>
{% endcapture %}

{% capture employeesconsoleoverview %}
<a href="http://iqmetrix.helpdocsonline.com/employees-console-overview">Employees Console Overview</a>
{% endcapture %}

{% capture plcontentmanagement %}
<a href="http://iqmetrix.helpdocsonline.com/product-library-content-management">Product Library Content Management</a>
{% endcapture %}

{% capture RQ %}
<a href="http://www.iqmetrix.com/products/rq">RQ</a>
{% endcapture %}

{% capture securityrolesetup %}
<a href="http://iqmetrix.helpdocsonline.com/security-role-setup">Security Role Setup</a>
{% endcapture %}

{% capture XQShelf %}
<a href="http://www.iqmetrix.com/products/xq">XQ Shelf</a>
{% endcapture %}