<span id="custom-footer-container" class="col-md-12">
    <div id="custom-footer" class="navbar-static-bottom">
        <span>
            <a class="fa fa-lg navbar-brand" href="http://developers.iqmetrix.com">
                <span class="projectTitle"> iQmetrix Developer Portal </span>
            </a>
        </span>
        <span class="brand pull-right">
            <a class="fa fa-lg navbar-brand" href="http://iqmetrix.com">
                <img src="images/iq-logo-white.png"></img>
            </a>
        </span>
    </div>
</span>