<!-- Navigation -->
<nav id="navbar-custom-front" class="navbar navbar-inverse navbar-static-top" role="navigation">
   <div class="container topnavlinks">
       <div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding-top:17px" href="{{ site.url }}">&nbsp;<span class="projectTitle"> {{site.topnav_title}} {{site.topnav_version}}</span></a>
       </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% include navcategories.html %}
                {% for entry in topnav_dropdowns %}
                    {% for subcategory in entry.subcategories %}
                      {% if subcategory.audience contains audience and subcategory.product contains product and subcategory.platform contains platform and subcategory.version contains version and subcategory.web != false %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ subcategory.title }}<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            {% for subitem in subcategory.items %}
                              {% if subitem.audience contains audience and subitem.product contains product and subitem.platform contains platform and subitem.version contains version and subitem.web != false% %}
                                {% if subitem.external_url %}
                                  <li><a href="{{subitem.external_url}}" target="_blank">{{subitem.title}}</a></li>
                                {% elsif page.url contains subitem.url %}
                                  <li class="dropdownActive"><a href="{{subitem.url | prepend: site.baseurl | append: site.suffix}}">{{subitem.title}}</a></li>
                                {% else %}
                                 <li><a href="{{subitem.url | prepend: site.baseurl | append: site.suffix}}">{{subitem.title}}</a></li>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                     </ul>
                  </li>
                    {% endfor %}
                  {% endfor %}
            </ul>
        </div>
        <div id="iQmetrixPlatform" class="text-center">
            <img src="images/platform-logo.png"></img>
            <div class="header">What is iQmetrix Platform?</div>
            <span class="col-xs-12" style="padding-bottom:10px">
                <span class="col-xs-12 col-lg-2"></span>
                <span class="blurb col-xs-12 col-lg-8">
                    iQmetrix Platform is built from the ground up to support omnichannel retail experiences. Our developmental philosophy considers the operational complexity retailers face every day. Whether handling in-store, e-commerce or mobile transactions, we want to provide seamless experiences to retail staff and customers.
                    <br><br>
                    All our Platform services are designed with a publicly-facing REST API as a first-class citizen. This is the same API that our own developers use to build various products.
                </span>
                <span class="col-xs-12 col-lg-2"></span>
                <span class="links-row col-xl-12">
                  <span class="col-xl-5 col-lg-3 col-md-3 col-sm-2 col-xs-12"></span>
                  <span class="col-xl-1 col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <a class="front-page-button" href="{{"/" | prepend: site.api_baseurl}}">API Documentation</a>
                  </span>
                  <span class="col-xl-1 col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <a class="front-page-button" href="http://www.iqmetrix.com/products/platform">Learn more about Platform</a>
                  </span>
                  <span class="col-xl-5 col-lg-3 col-md-3 col-sm-4 col-xs-12"></span>
                </span>
            </span>
        </div>
    </div>
</nav>
