<!-- Navigation -->
<nav id="navbar-custom-front" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <a class="fa fa-lg navbar-brand" href="{{ site.url }}">&nbsp;<span class="projectTitle"> {{site.topnav_title}} {{site.topnav_version}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% include navcategories.html %}
            </ul>
        </div>
        <div id="iQmetrixPlatform" class="text-center">
            <img src="images/platform-logo.png"></img>
            <div class="header">What is the iQmetrix Platform?</div>
            <div>
                <div class="blurb">
                    The iQmetrix Platform is built from the ground up to support omnichannel retail experiences. Our developmental philosophy considers the operational complexity retailers face every day. Whether handling in-store, e-commerce or mobile transactions, we want to provide seamless experiences to retail staff and customers.
                </div>
                <div class="blurb">
                    All our Platform services are designed with a publicly-facing REST API as a first-class citizen. This is the same API that our own developers use to build various products. 
                </div>
                <div>
                    <a class="front-page-button" href="/">API Documentation</a>
                    <a class="front-page-button" href="/">Learn more about Platform</a>
                </div>
            </div>
        </div>
    </div>
</nav>