<span id="custom-footer-container" class="col-xs-12 col-md-12 navbar navbar-default navbar-fixed-bottom">
    <div id="custom-footer" class="navbar-static-bottom">
        <span>
            <a class="navbar-brand" style="padding-top:19px" href="http://developers.iqmetrix.com">
                <span class="projectTitle"> iQmetrix Developer Portal </span>
            </a>
        </span>
        <span class="brand pull-right">
            <a href="http://iqmetrix.com">
                <img style="padding-top:15px" src="images/iqmetrix-logo-white.png"></img>
            </a>
        </span>
    </div>
</span>