<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">
<title>{% if page.homepage == true %} {{site.homepage_title}} {% elsif page.title %}{{ page.title }}{% endif %}  | {{ site.site_title }}</title>
<link rel="stylesheet" type="text/css" href="{{ "css/font-awesome.min.css" | prepend:site.pagefileurl }}">
<link rel="stylesheet" type="text/css" href="{{ "css/bootstrap.min.css" | prepend:site.pagefileurl }}">
<link rel="stylesheet" type="text/css" href="{{ "css/modern-business.css" | prepend:site.pagefileurl }}">
<link rel="stylesheet" type="text/css" href="{{ "css/customstyles.css" | prepend:site.pagefileurl }}">
<link rel="stylesheet" type="text/css" href="{{ "css/{{site.theme_file}}" | prepend:site.pagefileurl }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{{ "js/jquery.navgoco.min.js" | prepend:site.pagefileurl }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
<script src="{{ "js/toc.js" | prepend:site.pagefileurl }}"></script>
<script src="{{ "js/customscripts.js" | prepend:site.pagefileurl }}"></script>
<link rel="shortcut icon" href="{{ "images/favicon.ico" | prepend:site.pagefileurl }}" type="image/x-icon">


<!-- Image popup source files -->
<!-- http://dimsemenov.com/plugins/magnific-popup/ -->
<link rel="stylesheet" type="text/css" href="{{ "css/magnific-popup.css" | prepend:site.pagefileurl }}">
<script src="{{ "js/jquery.magnific-popup.js" | prepend:site.pagefileurl }}"></script>

{% unless page.noPopUp == true %}
<script>
    $(document).ready(function() {

        // surround each image with an anchor class  for image popup
        $('img').each( function() {
            var $img = $(this),
            href = $img.attr('src');
            $img.wrap('<a class="image-link" href=' + href + '></a>');
             
        });

        // make each image with image-link class popup "on click"
        // !! Drawback -- all images could popup :(
        $('.image-link').magnificPopup({
            type:'image',
            closeOnContentClick: true
        });
                
    });    
</script>
{% endunless %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript">
    //Hacky code to make sure they don't go to a bad page
    $( window ).load(function() {

        if (document.baseURI.indexOf("api/generalledger.html") > 0) {
            window.location.href = 'http://developers.iqmetrix.com/api/general-ledger/';
        }
        else if (document.baseURI.indexOf("api/productlibrary.html") > 0) {
          window.location.href = 'http://developers.iqmetrix.com/api/product-library/';
        }
        else if (document.baseURI.indexOf("api/entitystore.html") > 0) {
          window.location.href = 'http://developers.iqmetrix.com/api/entity-store/';
        }
        else if(document.baseURI.indexOf(".html") > 0) {
           window.location.href = document.baseURI.substring(0, document.baseURI.indexOf(".html"));
        }
    });
</script>





 