<span id="iqproducts" class="col-md-12">
    <span class="col-md-2"></span>
    <span class="col-md-4">
        <span class="col-md-5">
            <img src="/documentation-testing/images/rq-logo.png"></img>
        </span>
        <span class="col-md-7">
            <span class="col-md-12">
                <strong>RQ Retail Management</strong> is a modular system for managing all aspects of a store chain operation, including POS, ERP, inventory and HR.
            </span>
            <span class="col-md-12 learn-more">
                <a href="" class="front-page-button-black">Learn More</a>
            </span>
        </span>
    </span>
    <span class="col-md-4">
        <span class="col-md-5">
            <img src="/documentation-testing/images/xq-logo.png"></img>
        </span>
        <span class="col-md-7">
            <span class="col-md-12">
                <strong>XQ Interactive Retail</strong> brings elements of online and mobile shopping experiences into the physical store to engage and educate shoppers during the purchase process.
            </span>
            <span class="learn-more col-md-12">
                <a href="" class="front-page-button-black">Learn More</a>
            </span>
        </span>
    </span>
    <span class="col-md-2"></span>
</span>