<span id="iqsupport" class="row col-xs-12">
    <span class="col-xs-12 col-lg-2"></span>
    <span class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
        <span class="col-xs-1 hidden-sm"></span>
        <span class="col-xs-10 col-sm-12">
            <a href="mailto:{{site.support_email}}?subject=API Feedback">
                <span class="col-xs-12">
                    <img src="images/feedback-icon.png"/>
                </span>
                <span class="support-header col-xs-12">
                    Feedback
                </span>
            </a>
            <span class="col-xs-12">
                We are passionate about creating a great developer experience for you so please don't hesitate to contact us with any feedback related to API design, usability or new features that you are interested in.
            </span>
        </span>
        <span class="col-xs-1 hidden-sm"></span>
    </span>
    <span class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
        <span class="col-xs-1 hidden-sm"></span>
        <span class="col-xs-10 col-sm-12">
            <a href="mailto:{{site.support_email}}?subject=Support">
                <span class="col-xs-12">
                    <img src="images/support-icon.png"/>
                </span>
                <span class="support-header col-xs-12">
                    Support
                </span>
            </a>
            <span class="col-xs-12">
                Can't find what you are looking for or have any questions about our API? Please contact our API support team and we will get back to you as fast as we possibly can.
            </span>
        </span>
        <span class="col-xs-1 hidden-sm"></span>
    </span>
    <span class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
        <span class="col-xs-1 hidden-sm"></span>
        <span class="col-xs-10 col-sm-12">
            <a href="http://www.iqmetrix.com/careers">
                <span class="col-xs-12">
                    <img src="images/we-re-hiring-icon.png"/>
                </span>
                <span class="support-header col-xs-12">
                    We're Hiring!
                </span>
            </a>                
            <span class="col-xs-12">
                Interested in working at iQmetrix? Don’t be shy. Check out our job openings, read our 'What's New in the Q' blog, and count down our 'Top 10 Reasons' to join our team.
            </span>
        </span>
        <span class="col-xs-1 hidden-sm"></span>
    </span>
    <span class="col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
        <span class="col-xs-1 hidden-sm"></span>
        <span class="col-xs-10 col-sm-12">
            <a href="http://www.iqmetrix.com/our-company">        
                <span class="col-xs-12">
                    <img src="images/about-iq-icon.png"/>
                </span>
                <span class="support-header col-xs-12">
                    About iQmetrix
                </span>
            </a>
            <span class="col-xs-12">
                Learn more about our company and our culture. iQmetrix specializes in end-to-end retail solutions. Read about the origins of our company and our exciting plans for the future.
            </span>
        </span>
        <span class="col-xs-1 hidden-sm"></span>
    </span>
    <span class="col-xs-12 col-lg-2"></span>
</span>