<span id="iqsupport" class="col-md-12">
    <span class="col-md-2"></span>
    <span class="col-md-2 text-center">
        <div>
            <img src="images/feedback-icon.png">
        </div>
        <div class="support-header">
            Feedback
        </div>
        <div>
            We are passionate in creating a greate experience for you so please don't hestitate to contact us with any feedback related to API design and usability.
        </div>
    </span>
    <span class="col-md-2 text-center">
        <div>
            <img src="images/support-icon.png">
        </div>
        <div class="support-header">
            Support
        </div>
        <div>
            Can't find what you are looking for or have any questions about our API? Please contact our API support team and we will get back to you as fast as we possibly can.
        </div>
    </span>
    <span class="col-md-2 text-center">
        <div>
            <img src="images/we-re-hiring-icon.png">
        </div>
        <div class="support-header">
            We're Hiring!
        </div>
        <div>
            Interested in working at iQmetrix? Don’t be shy. Check out our job openings, read our 'What's New in the Q' blog, and count down our 'Top 10 Reasons' to join our team.
        </div>
    </span>
    <span class="col-md-2 text-center">
        <div>
            <img src="images/about-iq-icon.png">
        </div>
        <div class="support-header">
            About iQmetrix
        </div>
        <div>
            Learn more about our company and our culture. iQmetrix specializes in end-to-end retail solutions. Read about the origins of our company and our exciting plans for the future.
        </div>
    </span>
    <span class="col-md-2"></span>
</span>