{% include alerts.html %}
{% include callouts.html %}

{% capture access_token %}
<a href="{{"/glossary/#access-token" | prepend: site.api_baseurl}}">Access Token</a>
{% endcapture %}

{% capture account %}
<a href="{{"/general-ledger/#account" | prepend: site.api_baseurl}}">Account</a>
{% endcapture %}

{% capture address %}
<a href="{{"/crm/#address" | prepend: site.api_baseurl}}">Address</a>
{% endcapture %}

{% capture addresses %}
<a href="{{"/crm/#address" | prepend: site.api_baseurl}}">Addresses</a>
{% endcapture %}

{% capture asset %}
<a href="{{"/assets/#asset" | prepend: site.api_baseurl}}">Asset</a>
{% endcapture %}

{% capture assets %}
<a href="{{"/assets/#asset" | prepend: site.api_baseurl}}">Assets</a>
{% endcapture %}

{% capture asset_glossary %}
<a href="{{"/glossary/#asset" | prepend: site.api_baseurl}}">Asset</a>
{% endcapture %}

{% capture assignedrole %}
<a href="{{"/security-roles/#assignedrole" | prepend: site.api_baseurl}}">AssignedRole</a>
{% endcapture %}

{% capture carrier %}
<a href="{{"/entity-store/#carrier" | prepend: site.api_baseurl}}">Carrier</a>
{% endcapture %}

{% capture catalogitem %}
<a href="{{"/catalog/#catalogitem" | prepend: site.api_baseurl}}">CatalogItem</a>
{% endcapture %}

{% capture classificationconcept %}
<a href="{{"/classification-tree" | prepend: site.concepts_baseurl}}">Classification Tree</a>
{% endcapture %}

{% capture classificationtree %}
<a href="{{"/classification-tree/#classificationtree" | prepend: site.api_baseurl}}">Classification Tree</a>
{% endcapture %}

{% capture classification_glossary %}
<a href="{{"/glossary/#classification" | prepend: site.api_baseurl}}">Classification</a>
{% endcapture %}

{% capture commissionentry %}
<a href="{{"/commissions/#commissionentry" | prepend: site.api_baseurl}}">CommissionEntry</a>
{% endcapture %}

{% capture category %}
<a href="{{"/classification-tree/#category" | prepend: site.api_baseurl}}">Category</a>
{% endcapture %}

{% capture classification %}
<a href="{{"/classification-tree/#classification" | prepend: site.api_baseurl}}">Classification</a>
{% endcapture %}

{% capture company %}
<a href="{{"/company-tree/#company" | prepend: site.api_baseurl}}">Company</a>
{% endcapture %}

{% capture companytreenode %}
<a href="{{"/company-tree/#companytreenode" | prepend: site.api_baseurl}}">CompanyTreeNode</a>
{% endcapture %}

{% capture environment %}
<a href="{{"/environments/" | prepend: site.api_baseurl}}">Environment</a>
{% endcapture %}

{% capture contactmethod %}
<a href="{{"/crm/#contactmethod" | prepend: site.api_baseurl}}">ContactMethod</a>
{% endcapture %}

{% capture cost %}
<a href="{{"/cost-feed/#cost" | prepend: site.api_baseurl}}">Cost</a>
{% endcapture %}

{% capture customer %}
<a href="{{"/crm/#customer" | prepend: site.api_baseurl}}">Customer</a>
{% endcapture %}

{% capture customers %}
<a href="{{"/crm/#customer" | prepend: site.api_baseurl}}">Customers</a>
{% endcapture %}

{% capture customerfull %}
<a href="{{"/crm/#customerfull" | prepend: site.api_baseurl}}">CustomerFull</a>
{% endcapture %}

{% capture division %}
<a href="{{"/company-tree/#division" | prepend: site.api_baseurl}}">Division</a>
{% endcapture %}

{% capture divisions %}
<a href="{{"/company-tree/#division" | prepend: site.api_baseurl}}">Divisions</a>
{% endcapture %}

{% capture environment %}
<a href="{{"/environments/" | prepend: site.api_baseurl}}">Environment</a>
{% endcapture %}

{% capture get_field_definitions %}
<a href="{{"/field-definitions/#getting-field-definitions" | prepend: site.api_baseurl}}">Getting Field Definitions</a>
{% endcapture %}

{% capture field_definition %}
<a href="{{"/field-definitions/#fielddefinition" | prepend: site.api_baseurl}}">FieldDefinition</a>
{% endcapture %}

{% capture group %}
<a href="{{"/company-tree/#group" | prepend: site.api_baseurl}}">Group</a>
{% endcapture %}

{% capture groups %}
<a href="{{"/company-tree/#group" | prepend: site.api_baseurl}}">Groups</a>
{% endcapture %}

{% capture item_type %}
<a href="{{"/orders/#itemtype" | prepend: site.api_baseurl}}">ItemType</a>
{% endcapture %}

{% capture item_status %}
<a href="{{"/orders/#itemstatus" | prepend: site.api_baseurl}}">ItemStatus</a>
{% endcapture %}

{% capture location %}
<a href="{{"/company-tree/#location" | prepend: site.api_baseurl}}">Location</a>
{% endcapture %}

{% capture locations %}
<a href="{{"/company-tree/#location" | prepend: site.api_baseurl}}">Locations</a>
{% endcapture %}

{% capture manufacturer %}
<a href="{{"/entity-store/#manufacturer" | prepend: site.api_baseurl}}">Manufacturer</a>
{% endcapture %}

{% capture oauth2 %}
<a href="{{"/glossary/#oauth-token" | prepend: site.api_baseurl}}">OAuth2</a>
{% endcapture %}

{% capture order %}
<a href="{{"/orders/#order" | prepend: site.api_baseurl}}">Order</a>
{% endcapture %}

{% capture orderitem %}
<a href="{{"/orders/#item" | prepend: site.api_baseurl}}">Item</a>
{% endcapture %}

{% capture orderfull %}
<a href="{{"/orders/#orderfull" | prepend: site.api_baseurl}}">OrderFull</a>
{% endcapture %}

{% capture ordertype %}
<a href="{{"/orders/#ordertype" | prepend: site.api_baseurl}}">OrderType</a>
{% endcapture %}

{% capture permission %}
<a href="{{"/security-roles/#permission" | prepend: site.api_baseurl}}">Permission</a>
{% endcapture %}

{% capture prices %}
<a href="{{"/pricing/" | prepend: site.api_baseurl}}">Prices</a>
{% endcapture %}

{% capture pricing %}
<a href="{{"/pricing/#pricing" | prepend: site.api_baseurl}}">Pricing</a>
{% endcapture %}

{% capture product %}
<a href="{{"/product-library/#product" | prepend: site.api_baseurl}}">Product</a>
{% endcapture %}

{% capture products %}
<a href="{{"/product-library/#product" | prepend: site.api_baseurl}}">Products</a>
{% endcapture %}

{% capture regularproduct %}
<a href="{{"/epc/#regularproduct" | prepend: site.api_baseurl}}">RegularProduct</a>
{% endcapture %}

{% capture subscribable_list %}
<a href="{{"/product-subscription/#subscribablelist" | prepend: site.api_baseurl}}">Subscribable List</a>
{% endcapture %}

{% capture product_structure %}
<a href="{{"/product-structure" | prepend: site.concepts_baseurl}}">Product Structure</a>
{% endcapture %}

{% capture securityrole %}
<a href="{{"/security-roles/#securityrole" | prepend: site.api_baseurl}}">SecurityRole</a>
{% endcapture %}

{% capture supplier %}
<a href="{{"/entity-store/#supplier" | prepend: site.api_baseurl}}">Supplier</a>
{% endcapture %}

{% capture user %}
<a href="{{"/user-manager/#user" | prepend: site.api_baseurl}}">User</a>
{% endcapture %} 

{% capture supplier %}
<a href="{{"/entity-store/#supplier" | prepend: site.api_baseurl}}">Supplier</a>
{% endcapture %}

{% capture vendor %}
<a href="{{"/entity-store/#vendor" | prepend: site.api_baseurl}}">Vendor</a>
{% endcapture %} 
