<!-- start page metadata -->
{% unless page.metadata == false %}

<div class="pageMetadata affix">
    <div class="pageMetadataTitle">Table of Contents</div>
    {% include toc.html %}

    {% if page.last_updated != null %}
    <p><div class="metadataRow"><span class="tagTitle">Last updated:</span> {{page.last_updated}}</div></p>
    {% endif %}

</div>
{% endunless %}


{% unless page.rouge == false %}
<link rel="stylesheet" type="text/css" href="../../css/syntax.css">
{% endunless %}
<!-- end pageMetadata -->