
<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->
<script>
$( document ).ready(function() {

    $('#toc').toc({ minimumHeaders: 0, listType: 'ul', showSpeed: 0, headers: 'h2, h3' });

    var windowHeight = $(window).height();
    var windowWidth = $(window).width();

    var tocHeight = $(".pageMetadata").height();

    if(windowWidth < 1560) {
        
        //Grab "pageMetadata" and move it to first  child of .post-header
        $(".pageMetadata").prependTo(".post-header");
    }
    else if (windowHeight > tocHeight) {
        $( ".pageMetadata" ).addClass("affix");
    }
});

</script>

<div id="toc"></div>