<!-- Navigation -->
<nav id="navbar-custom" class="navbar navbar-inverse col-md-12" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="col-md-12">
        <a href="{{ site.url }}">
          <span id="top-iq-logo"><img src="{{ "images/iq-logo.png" | prepend:site.pagefileurl }}" ></span>
          <span id="projectTitle">iQmetrix Developer Portal</span>
        </a>
      </div>
   </div>
   <div class="collapse navbar-collapse">
      <ul id="top-bar-categories" class="nav navbar-nav navbar-right">
        <li><a href="{{"/" | prepend: site.api_baseurl}}">DOCUMENTATION</a></li>
        <li><a href="mailto:{{site.support_email}}?subject=Support">SUPPORT</a></li>
        <li><a href="http://iqmetrix.com" target="_blank">BACK TO iQMETRIX.COM »</a></li>
      </ul>
   </div>
</nav>